<h1>銷項發票匯出</h1>

<br />
<br />
<h3>開始年月：</h3>
<input nz-input placeholder="EX: 10903" [(ngModel)]="startvalue" />
<br />
<input nz-input placeholder="" [(ngModel)]="startvalue" [disabled]="true" />
<br />
<br />
<h3>結束年月：</h3>
<input nz-input placeholder="EX: 10904" [(ngModel)]="endvalue" />
<br />
<input nz-input placeholder="" [(ngModel)]="endvalue" [disabled]="true" />
<br />
<br />
<button (click)="getvalue()">submit</button>

<br><br>
<div *ngFor="let its of invoicemain">
  {{ its.ID }}<br>
  {{ its.ObjectID }}<br>
  {{ its.SellerPartyName }}<br>
  {{ its.BuyerPartyName }}<br>
  <!--button (click)="get()">
    GET
  </button-->
  <br><br>
</div>
<br><br>
<p>{{ 1+1 }}</p>