<h1>進項發票匯出</h1>

<form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName">
    <br><br>
    <button ng-click="reset()">RESET</button>
</form>

<p>The hero's birthday is {{ birthday | date:format }}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<br />
<br />
<h3>開始年月(EX: 10903)：</h3>
<input nz-input placeholder="Basic usage" [(ngModel)]="startvalue" />
<br />
<input nz-input placeholder="Basic usage" [(ngModel)]="startvalue" [disabled]="true" />
<br />
<br />
<h3>結束年月(EX: 10904)：</h3>
<input nz-input placeholder="Basic usage" [(ngModel)]="endvalue" />
<br />
<input nz-input placeholder="Basic usage" [(ngModel)]="endvalue" [disabled]="true" />
<br />
<button (click)="getvalue()">submit</button>